<div class="d-flex h-100 text-center flex-column">
  <header class="mb-auto mx-auto py-2 px-4  w-100">
    <h3 class="float-md-start mb-0 pb-3">App list</h3>
  </header>
  <main class="h-100 p-2 container">
    <section class="row">
      <section class="col-md-6"></section>
      <section class="col-md-6">
        <div class="card categories">
          <h5 class="card-title pt-2">
            BMI Categories
          </h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item under"><span> Underweight</span> <span>Range: 16 - 18.5</span></li>
            <li class="list-group-item normal"><span> Normal</span><span>Range: 18.5 - 25</span></li>
            <li class="list-group-item over"><span> Overweight</span><span>Range: 25 - 30</span></li>
            <li class="list-group-item semi-obese"><span>Semi Obese</span><span>Range: 30 - 35</span></li>
            <li class="list-group-item obese"><span> Obese</span><span>Range: 35 - 40</span></li>
          </ul>
        </div>
      </section>
    </section>
  </main>
  <footer class="mt-auto text-white-50 p-2">
    <p>Copyrights 2022, by <a href="https://paresh-galrani.github.io/profile/" class="text-white">Paresh Galrani</a>.
    </p>
  </footer>
</div>