<div class="d-flex h-100 text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main class="px-3 d-flex h-100 align-items-center justify-content-center flex-column">
      <img src="assets/page-not-found.png" class="w-100"/>
      <h1>Sorry!</h1>
      <p class="lead mb-2">We couldn't find this page.</p>
      <p class="lead">
        <a routerLink="/home" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Go to Home Page</a>
      </p>
    </main>

    <footer class="mt-auto text-white-50">
      <p>Copyrights 2022, by <a
          href="https://paresh-galrani.github.io/profile/" class="text-white">Paresh Galrani</a>.</p>
    </footer>
  </div>
</div>